.criminals-grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.criminal-card {
  background-color: #2d2d2d;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px; /* Add margin to separate the cards */
}

.criminal-card h2 {
  margin-bottom: 8px;
}

.criminal-image {
  width: 100%; /* Ensure the image takes the full width of the container */
  height: auto; /* Maintain aspect ratio */
  border-radius: 4px;
}

.aspect-square {
  width: 150px; /* Set a fixed width */
  height: 150px; /* Set a fixed height */
  overflow: hidden;
  border-radius: 8px;
  position: relative;
  margin: 5px; /* Add margin to separate the images */
}

.grid {
  display: flex;
  flex-wrap: wrap; /* Allow the images to wrap to the next line */
  justify-content: center; /* Center the images */
}
